// Stolen from notion

div.callout {
    display: flex; 
    width: 100%; 
    border-radius: 6px; 
    border-width: 1px; 
    border-style: solid; 
    border-color: transparent;
    background: var(--accent-alpha-20);
    padding: 16px 16px 16px 12px;
    margin-bottom: 20px; // Same as <p> 
    // (TODO: figure out why <p> also has margin-top 16 even though it isn't mentioned anywhere)
}

img.callout-icon {
    width: 16px;
    height: 16px;
    display: flex; 
    margin: 4px;
}

div.callout-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 8px;
}

.callout-body p {
    margin-top: 0;
    margin-bottom: 0;
}